body 
  // margin 30
  // padding 30
  // overflow hidden
  background-color aliceblue

#controls
  z-index 101
  position absolute
  button
    cursor pointer

#tooltip
  z-index 102
  position absolute
  width auto
  height auto
  background-color white
  border-radius 4px
  display none
  padding 5px
  border: dotted #bbb 1px
  margin-left 15px
  margin-top -24px

#hitareas
  z-index 100
  position absolute
  width 100vw
  height 100vh
  top 0px
  left 0px
  
  .hitarea
    position absolute
    // background-color rgba(255, 0, 0, 0.3)
    cursor pointer
    // padding 4px
    // margin -4px 0 0 -4px
    // border-radius 4px
